@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  line-height: 160%;
}

:root {
  --primary: #c7a17a;
  --secondary: #161616;
  --secondary75: rgba(22, 22, 22, 0.75);
  --text: #fff;
  --text75: rgba(255, 255, 255, 0.75);
}

body {
  background-color: var(--secondary);
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1264px;
  margin: auto;
}

.navbar {
  transition: all 300ms;
}

.active-navbar div ul li.active {
  color: var(--secondary);
}

.active-navbar div ul li {
  color: var(--secondary75);
}

.navbar.active-navbar div ul li:hover {
  font-weight: 700;
  color: var(--secondary);
}

.navbar div ul li:hover {
  font-weight: 700;
  color: var(--text);
}

.active-navbar {
  background-color: var(--primary);
}

.active-navbar div svg path {
  fill: var(--secondary);
}

.navbar-items.absolute li {
  color: var(--secondary75);
  font-weight: 400;
}

.navbar-items.absolute .active {
  color: var(--secondary);
  font-weight: 700;
}

.navbar-items li {
  color: var(--text75);
  font-weight: 400;
  transition: all 300ms;
}

.navbar-items .active {
  color: var(--text);
  font-weight: 700;
}

.navbar-items.absolute li:hover {
  font-weight: 700;
  color: var(--secondary);
}

.menu-card.hide {
  display: none;
}

.button-64 {
  transition: all 400ms;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  min-height: 64px;
  min-width: 236px;
}

.button-64:hover {
  background-color: transparent;
  color: var(--text);
}

.button-58 {
  transition: all 400ms;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 20px;
  line-height: 100%;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  min-height: 58px;
  max-width: 200px;
}

.button-58:hover {
  background-color: transparent;
  color: var(--text);
}

.button-50 {
  cursor: pointer;
  transition: all 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--text);
  font-size: 18px;
  line-height: 100%;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  min-height: 50px;
  max-width: 170px;
}

.button-50:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.button-50__active {
  background-color: var(--primary);
  color: var(--secondary);
}

.sm-title {
  font-size: 24px;
  color: var(--primary);
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 7px;
}

.lg-title {
  font-size: 48px;
  line-height: 100%;
  font-family: "Playfair Display", serif;
  color: var(--text);
  font-weight: 700;
}

.description-title {
  color: var(--text75);
  font-size: 18px;
  font-weight: 300;
}

.menu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 365px;
}

.menu-card__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.menu-card__texts-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Playfair Display", serif;
  color: var(--text);
}

.menu-card__texts-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
}

.menu_cards img {
  transition: opacity 300ms;
  cursor: pointer;
  opacity: 70%;
}

.menu_cards img:hover {
  opacity: 100%;
}



.gallery-img {
  position: relative;
  width: 100%;
  height: 365px;
}

.social-box {
  transition: all 400ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary);
  min-width: 40px;
  min-height: 40px;
  background-color: var(--primary);
}

.social-box:hover {
  background-color: transparent;
}

.social-box:hover svg path {
  fill: var(--text);
}

.gallery-img {
  transition: opacity 300ms;
  cursor: pointer;
  opacity: 70%;
}

.gallery-img:hover {
  opacity: 100%;
}

/* animations */
.animate__animated.animate__backInDown,
.animate__animated.animate__backInUp {
  --animate-duration: 1.5s;
}

.animate-section {
  opacity: 0;
  transition: all 700ms;
}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .sm-title {
    font-size: 20px;
  }

  .lg-title {
    font-size: 40px;
  }

  .description-title {
    font-size: 16px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 60px;
  }

  .sm-title {
    font-size: 20px;
  }

  .lg-title {
    font-size: 40px;
  }

  .description-title {
    font-size: 16px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 120px;
  }

  .sm-title {
    font-size: 20px;
  }

  .lg-title {
    font-size: 40px;
  }

  .description-title {
    font-size: 18px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 60px;
  }

  .sm-title {
    font-size: 24px;
  }

  .lg-title {
    font-size: 48px;
  }

  .description-title {
    font-size: 18px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .container {
    max-width: 100%;
    padding: 0 60px;
  }

  .sm-title {
    font-size: 24px;
  }

  .lg-title {
    font-size: 48px;
  }

  .description-title {
    font-size: 18px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .container {
    position: relative;
    max-width: 1264px;
    margin: auto;
  }

  .sm-title {
    font-size: 24px;
  }

  .lg-title {
    font-size: 48px;
  }

  .description-title {
    font-size: 18px;
  }

  .menu-card {
    width: 100%;
  }

  .menu-card__texts-title {
    font-size: 28px;
  }

  .menu-card__texts-price {
    font-size: 20px;
  }
}